*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
    padding:20px;
}

.dashboard{
    max-width:1200px;
    margin:auto;
}

header{
    margin-bottom:25px;
}

header h1{
    text-align:center;
}

/* KPI GRID */

.kpi-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

    margin-bottom:25px;
}

.kpi-card{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;

    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.kpi-card h3{
    margin-bottom:10px;
}

.kpi-card p{
    font-size:28px;
    font-weight:bold;
}

/* CHART */

.chart-section{
    background:white;
    padding:20px;
    border-radius:10px;

    margin-bottom:25px;

    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.chart-placeholder{
    margin-top:15px;

    height:300px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#eaeaea;

    border-radius:10px;

    font-size:24px;
}

/* TABLE */

.table-section{
    background:white;
    padding:20px;
    border-radius:10px;

    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.table-wrapper{
    overflow-x:auto;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

th,
td{
    padding:12px;
    text-align:left;
    border-bottom:1px solid #ddd;
}

th{
    background:#f0f0f0;
}