*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;
}

.container{
    width:450px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.search-box{
    position:relative;
}

input{
    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:5px;

    font-size:16px;
}

#suggestions{

    position:absolute;

    top:100%;

    left:0;

    width:100%;

    background:white;

    border:1px solid #ddd;

    border-top:none;

    list-style:none;

    max-height:250px;

    overflow-y:auto;
}

#suggestions li{

    padding:12px;

    cursor:pointer;
}

#suggestions li:hover{

    background:#f0f0f0;
}

.active{

    background:#2196f3;
    color:white;
}
